</main>

<footer>
  <div id="word-content-footer">
    <p>Copyright © Nguyen 2022</p>
  </div>
  <div id="image-content-footer">
    <img src="../../images/discord-logo.png" alt="discord logo">
    <img src="../../images/instg-logo.png" alt="instgram logo">
  </div>
</footer>
</body>
</html>