</main>

<footer>
  <div id="word-content-footer">
    <p>Copyright © AuctionHub 2023</p>
  </div>
  <div id="image-content-footer">
    <a id="image-color" href="https://discord.com/"><img id="footer-correction" 
      src="../../images/discord-logo.png" alt="discord logo">Discord</a>
      &nbsp;
        <a id="image-color" href="https://www.instagram.com/"><img id="footer-correction" 
      src="../../images/instg-logo.png" alt="instgram logo">Instagram</a>
  </div>
</footer>
</body>
</html> 