<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auction Hub</title>
        <meta name="description" content="Auction Hub Website" />
        <meta name="author" content="Hoang Nguyen" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/footer.css" />
        <link rel="stylesheet" type="text/css" href="/css/header.css" />
        <link rel="stylesheet" type="text/css" href="/css/homePage.css" />
        <link rel="stylesheet" type="text/css" href="/css/newTrade.css" />
        <link rel="stylesheet" type="text/css" href="/css/tradePage.css" />
        <link rel="stylesheet" type="text/css" href="/css/tradesPage.css" />
        <link rel="stylesheet" type="text/css" href="/css/profile.css" />
        <link rel="stylesheet" type="text/css" href="/css/offer.css" />
    </head>

    <body>

