#word-content-footer {
    padding-left: 20px;
    width: 40%;
    margin-right: auto;
  }
  
  #image-content-footer {
    padding-right: 20px;
    width: 50%;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
  }
  
  #image-content-footer img {
    /* width: 25%; */
    align-self:right;
    color:white;
    text-decoration-color:white;
    text-align:right;
    margin-right: 5px;
  }

  #image-color {
    color:white;
    text-decoration-color:white;
    text-align:right;
    /* width:20%; */
  }

  #footer-correction {
    width:86px;
  }
