#profile-img {
    width: 100px;
    padding:10px;
    margin: 10px;
}

.profile-body {
    display:block;
    width: 100%;
}

.profile-body h1 {
    color: White;
    padding: 20px;
    margin: 0;
    background-image: url(../images/banner.jpg);
    text-shadow: 3px 3px black
}
.profile-head {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.trades-items-profile-wrapper {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.trades-items-profile-wrapper h2 {
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding-left:30px;
    padding-right: 30px;
}

.offer-item-profile {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 0;
}

.offer-item-profile li {
    padding: 15px;
    width: 22%;
}

.offer-item-profile p {
    padding: 0;
    margin: 0;
}

.trades-items-profile {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 0;
}

.trades-items-profile li {
    padding: 15px;
    width: 22%;
}

.item-img-profile {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
}

.trades--profile a {
    text-decoration: none;
}