.product-images {
    width: 50%;
    min-height: 400px;
    padding: 30px;
  }
  
  .product-content {
    width: 50%;
    min-height: 400px;
    padding: 30px;
  }
  
  .gallery {
    display: flex;
  }
  
  .gal-main-img {
    width: 70%;
  }
  
  .gal-main-img img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    object-fit: contain;
  }
  
  .gal-sub-img {
    width: 29%;
    padding: 10px;
    padding-top: 0;
  }
  
  .gal-sub-img img {
    width: 100%;
    min-width: 60px;
    max-width: 120px;
    object-fit: contain;
  }
  
  .product-content h3,
  .product-content p {
    margin-top: 0;
  }
  
  .product-content h1, 
  .product-content h4 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .contact-links {
    display: flex;
    max-height: 30px;
    align-items: center;
  }
  
  .contact-links img {
    width: 5%;
    float: left;
  }
  
  .contact-links a {
    text-decoration: none;
    float: right;
    padding: 10px;
  }
  