.trades {
    width: 50%;
    min-height: 400px;
    padding: 30px;
  }
  
  .trades-header-console {
    background-color: white;
    text-align: center;
    background-image: url(../images/consolebackground.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 40%;
    border-style: solid;
    border-color: aquamarine;
  }
  
  .trades-header-console h1 {
    margin: 0;
    padding: 0;
    min-height: 50px;
    font-size: 70px;
    color: aquamarine;
    text-shadow: 3px 3px black;
  }
  
  .trades-header-pc {
    background-color: black;
    color: black;
    text-align: center;
    background-image: url(../images/pcbackground.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 80%;
    border-style: solid;
    border-color: orangered;
  }
  
  .trades-header-pc h1 {
    margin: 0;
    padding: 0;
    min-height: 50px;
    font-size: 70px;
    color: orangered;
    text-shadow: 3px 3px black;
  }
  
  .trades-items-console {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .trades-items-pc {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .trades-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  
  .trades-items li {
    padding: 15px;
    width: 40%;
  }
  
  .item-img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
  }
  
  .trades-items a {
    text-decoration: none;
  }
  