.trades {
    width: 100%;
    min-height: 400px;
    padding: 30px;
  }
  
  .trades-header {
    background-color: white;
    text-align: center;
    background-image: url(../images/consolebackground.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 40%;
    border-style: solid;
    border-color: aquamarine;
  }
  
  .trades-header h1 {
    margin: 0;
    padding: 0;
    min-height: 50px;
    font-size: 70px;
    color: aquamarine;
    text-shadow: 3px 3px black;
  }
  
  .trades-items {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .trades-items-individual {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  
  .trades-items-individual li {
    padding: 15px;
    width: 23%;
  }
  
  .item-img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
  }
  
  .trades-items-individual a {
    text-decoration: none;
  }
  