<%- include('../partials/header.ejs')%> <%- include('../nav_bar/nav_bar.ejs')%>
<div class="body-wrapper">
    <div class="contact">
        <div class="center">
            <img id="selfie" src="images/Sefie.jpg" alt="image author" />
            <h3>Hoang Duy Thien Nguyen <br />Software Engineer - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Tim</h2>
            <p>
                Hoang Duy Thien Nguyen (Tim Nguyen) is a current undergraduate at the University of
                North Carolina in Charlotte. He is currently pursuing a Bachelor's in Computer
                Science with a concentration in Software Engineering. He is also pursuing a Master's
                in Computer Science with a concentration in System Security and Network Privacy.
            </p>
            <p>
                He created this website hoping to create a safe and fun place for users to trade old
                and new gaming items. As the world advances more and more into a digital age,
                digital trading become a significant part of day to day life. Dragon's den was
                created to help people reach their goal in the most sufficient and fun way.
            </p>
        </div>
    </div>

    <div class="reverse">
        <div class="center">
            <img id="selfie" src="images/selfie-minh.jpg" alt="image author" />
            <h3>Duy Minh Pham <br />Software Engineer - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Minh</h2>
            <p id="description-margin">
                My lifelong dream was to always protect the ones I love the most: Raymond, Aaron,
                and Tim. I have always loved each and everyone of them with all my heart but I can
                not as it is not possible.
            </p>
            <p id="description-margin">
                Because I can not share my love three ways, my heart has been aching the past 2
                years I've known them. I love them.. but I love Keven Nguyen up my bum more.
            </p>
        </div>
    </div>

    <div class="contact">
        <div class="center">
            <img id="selfie" src="images/raymond.jpg" alt="image author" />
            <h3>Raymond Fking Nguyen <br />UX Fker - Minh's Lover</h3>
        </div>
        <div>
            <h2 class="center">About This Dude</h2>
            <p>I like big butts and I can not lie, my other brothers can't deny.</p>
            <p>
                I would love to give Aaron all the money he has lost to me back on my birthday
                because I feel bad for him :sad_face:
            </p>
        </div>
    </div>

    <div class="reverse">
        <div class="center">
            <img id="selfie" src="images/v.jpg" alt="image author" />
            <h3>Aaron Coolio Zhang <br />Master Procrastinator</h3>
        </div>
        <div>
            <h2 class="center">About This Awesome Man</h2>
            <p id="description-margin">
                Bench Press: 185, Squat: 185, deadlift: 215, Total: 585 lbs
            </p>
            <p id="description-margin">
                My hobbies include playing games, taking long showers, eating good food, gyming, and
                playing all types of sports just for fun. I'm decently athletic, 5'10, immortal 3
                peak on valorant.
            </p>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs')%>
