<%- include('../partials/header.ejs')%> <%- include('../nav_bar/nav_bar.ejs')%>
<div class="body-wrapper">
    <div class="contact">
        <div class="center">
            <img id="selfie" src="images/Sefie.jpg" alt="image author" />
            <h3>Tim Nguyen<br />Software Engineer - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Tim</h2>
            <p id="description-margin">
                Hoang Duy Thien Nguyen (Tim Nguyen) is a current undergraduate at the University of
                North Carolina in Charlotte. He is currently pursuing a Bachelor's in Computer
                Science with a concentration in Software Engineering. He is also pursuing a Master's
                in Computer Science with a concentration in System Security and Network Privacy.
            </p>
            <p id="description-margin">
                He wanted to create a website that allowed a safe and somewhat fun method of selling
                unused items across the U.S. As the world advances more and more into a digital age,
                digital trading became a significant part of day to day life. Auction Hub was
                created to help people reach their goals in the most efficient method of buying and
                selling.
            </p>
        </div>
    </div>

    <div class="reverse">
        <div class="center">
            <img id="selfie" src="images/selfie-minh.jpg" alt="image author" />
            <h3>Duy Minh Pham <br />Software Engineer - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Minh</h2>
            <p id="description-margin">
                Duy Minh Pham is a current undergraduate at the University of North Carolina at
                Charlotte. He is currently pursuing a Bachelor's in Computer Science with a
                concentration in Software Engineering. He is also pursuing his Master's in Computer
                Science with a concentration in System Secuirty and Network Privacy as well.
            </p>
            <p id="description-margin">
                Minh has worked in a corporate setting mainly Bank of America and brings his
                knowledge and skillset to help provide a base and foundation for Auction Hub. With
                his expertise in Software Engineering, he has helped Tim develope the logic behind
                our bidding system and using Express Javescript to run the server.
            </p>
        </div>
    </div>

    <div class="contact">
        <div class="center">
            <img id="selfie" src="images/raymond.jpg" alt="image author" />
            <h3>Raymond Nguyen <br />UX Designer - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Raymond</h2>
            <p id="description-margin">
                Raymond is a current undergraduate at the University of North Carolina at Charlotte.
                He is currently pursuing a Bachelor's in Computer Science with a concentration in
                Software Engineering. He is also pursuing his Master's in Computer Science with a
                concentration in System Secuirty and Network Privacy as well.
            </p>
            <p id="description-margin">
                Raymond has work experience working on UX designs for multiple companies and was
                brought in by Tim to help facilitate networking between the different pages within
                Auction Hub. He has helped increased flow of traffic to and from our site and has
                made it relatively easy for customers to search, list, and buy from our site.
            </p>
        </div>
    </div>

    <div class="reverse">
        <div class="center">
            <img id="selfie" src="images/aaron.jpg" alt="image author" />
            <h3>Aaron Zhang <br />Data Analyst - Undergraduate</h3>
        </div>
        <div>
            <h2 class="center">About Aaron</h2>
            <p id="description-margin">
                Aaron is a current undergraduate at the University of North Carolina at Charlotte.
                He is currently pursuing a Bachelor's in Computer Science with a concentration in
                Software Engineering. He is also pursuing his Master's in Computer Science with a
                concentration in Data Science.
            </p>
            <p id="description-margin">
                Aaron is a data analyst that was brought into the team by Tim to help with any of
                the data problems Auction Hub has. He has helped secure the account information for
                each customer who uses Auction Hub. His expertise in the data role as helped
                facilitate the security of private information regarding our customers and the
                purchases they have done on Auction Hub.
            </p>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs')%>
