<%- include('../partials/header.ejs')%>
<%- include('../nav_bar/nav_bar.ejs')%>
<div class="body-wrapper">
    <div>
        <img
          id="contact-us-img"
          src="images/contact-us.png"
          alt="image of contact us"
        >
      </div>
    <div>
      <h2>Contact us</h2>
      <p>
        All questions and suggestions can be emailed to the below address!
      </p>
      <p>Email: AuctionHub2023@gmail.com</p>
    </div>
  </div>
<%- include('../partials/footer.ejs')%>