<%- include('../partials/header.ejs')%>
<%- include('../nav_bar/nav_bar.ejs')%>
<div class="body-wrapper">
    <div>
        <img
          id="under-dev-img"
          src="images/under-dev.gif"
          alt="image of contact us"
        >
      </div>
    <div>
        <h2>Sorry for the inconvenience</h2>
        <p>
        This feature is still under development and has not been ready yet.
        Please come back at a later time. 
        </p>
        <p>Thank you for your understanding!</p>
    </div>
  </div>
<%- include('../partials/footer.ejs')%>