<%- include('../partials/header.ejs')%> <%- include('../nav_bar/nav_bar.ejs')%>
<div class="body-wrapper">
    <div>
        <img
            id="gaming-gear-img"
            src="images/gaming-gear.jpg"
            alt="image of gaming gears" />
    </div>
    <div>
        <h2>Welcome to the den of the dragons!</h2>
        <p>
            This is a platform to trade old/new gaming gears in many diffrent
            category
        </p>
        <p>Please be resepectful, have fun, and good luck!</p>
        <p>
            <a class="button-format" href="/about">About us</a>
            <a class="button-format" href="/contacts">Contacts</a>
        </p>
    </div>
</div>
<%- include('../partials/footer.ejs')%>
